@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

:root {
  --MAX_WINDOW_WIDTH: 1024px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*<><><><><><><><><><>*/

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

button.default {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font: bold 16px Comfortaa;
  margin: 5px 0;
  padding: 5px 10px;
  outline: none;
}

/*<><><><><><><><><><>*/

table.default {
  display: table;
  font-family: montserrat;
  table-layout: fixed;
  width: 500px
}

table.default tr:nth-child(even) {
  background: #F2F2F2;
}

table.default td, table.default th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px 10px;
  width: 150px;
}

table.default th {
  background: #f5b041;
  color: white;
  font-family: 'Prosto One';
  font-size: 11px;
  padding: 5px 15px;
}

table.default td {
  font-family: comfortaa;
  font-size: 12px;
  overflow-x: auto;
}
table.default td::-webkit-scrollbar {
  height: 5px;
}
table.default td::-webkit-scrollbar-thumb {
  background: gray;
}
